save-exact=true
save=true
also=dev
engine-strict=true
disable-self-update-check=true
heading=🎨yui540🎨
init.author.name=yui540
init.author.email=tabletennis540@gmail.com
init.author.url=https://yui540.graphics
init.license=MIT
scope=yui540
